* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    scroll-behavior: smooth;
}
nav {
    background-color: #4d0303;
    padding:  20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #b8b5b5;
}

.navbar {
    display: flex;
    gap: 15px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    background-origin: padding-box;
    
}
ul li a {
    text-decoration: none;
    color: #e6e3e3;
    font-weight: 800px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgb(58, 39, 39);
}
ul li a:hover {
    background-color: #b8b5b5;
    color: #000000;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https: //media.istockphoto.com/id/1465367536/photo/action-movie-concept-police-cars-and-miniature-movie-set-on-dark-toned-background-with-fog.webp?a=1&b=1&s=612x612&w=0&k=20&c=lTNauPD28FPQltwEXbbMXvCrz0ekXw7s7G4R-IcbZ00=');
    background-size: cover;
    background-position: center;
    text-align: center;
}

#home header h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#home-signup {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4d0303;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#home-signup:hover {
    background-color: #b8b5b5;
    color: #000000;
}

#about {
    background-size: cover;
    background-color: #1a1a1a;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.about-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}